<template>
  <section class="quote pt-4">
    <b-container class="mb-0">
      <b-row>
        <b-col>
          <blockquote class="blockquote text-right">
            <span v-html="$t('home.quote.text')"></span>
            <footer class="blockquote-footer">
              <a
                :href="$t('lang') === 'fr'
                  ? $t('link.fr.blog')
                  : $t('link.en.blog')"
                v-html="$t('home.quote.blog.text')"
              ></a>
            </footer>
          </blockquote>
        </b-col>
      </b-row>
    </b-container>
  </section>
</template>

<style lang="scss">
/* Quote */
.quote {
  p {
    padding-top: 10px;
    text-align: left;
  }

  a {
    color: var(--j-s5);
    text-decoration: underline;
    background: none !important;

    &:hover, &:focus {
      color: var(--j-s6);
      text-decoration: underline;
    }
  }

  text-align: center;

  button.btn {
    font-size: 1.3em;
    width: 14em;
    word-break: break-word;
    white-space: normal;

    &::first-line {
      font-size: 1.5em;
    }
  }

  blockquote {
    padding: 0px 15px;

    span {
      border-right: 0.2em solid var(--j-s6);
      position: relative;
      display: block;
      padding-right: 1em;
    }
  }
}
</style>
