#news, #faq, #hall-of-fame, #thank-you, #medias {
  background: linear-gradient(to bottom, #fff, var(--j-s1));

  main {
     .container {
      background: transparent;

      h4 {
        margin-top: 1.5rem;
      }
    }

    #page-header,
    .bloc {
      padding: 30px;
    }

    #page-header { padding: 30px 0;}

    .bloc {
      margin-bottom: 40px;
      background: #fff;
    }

    ul:not(.list-inline) {
      list-style: url('../../public/img/bullet-o.png');
      padding-left: 20px;
    }

    #page-header {
      margin-top: 20px;
    }
  }
}

.violet { color: var(--j-frama); }
.orange { color: var(--j-soft); }

#fp-footer #f-footer {
  display: none !important;
}

/* Sections background */
#home #app {
  background: linear-gradient(to bottom,  #fff, var(--j-d1));
}

i::before {
  color: var(--j-s3);
}

#app {
  background: var(--j-d1);
  color: var(--j-s5);

  h1, h2, h3 {
    color: var(--j-s4);
  }

  h2 {
    background: var(--j-p2);
    padding: .5rem;
  }

  p {
    &:last-child {
      margin: 0;
    }
  }

  main {
    .container {
      background: #fff;
      margin-bottom: 1.5rem;

      a:not(.btn) {
        color: var(--j-s5);
        background: linear-gradient(to top, var(--j-p4) 2px, transparent 2px);

        &:hover,
        &:focus {
          color: var(--j-s6);
          background: linear-gradient(to top, var(--j-p4) 2px, var(--j-p1) 2px);
          text-decoration: none;
        }
      }
    }

    ul:not(.list-inline) {
      list-style: url('../../public/img/bullet-o.png');
      padding-left: 20px;
    }
  }

  .fa-camera.fa-shape-circle {
    border: 5px solid var(--j-s3);
    color: #fff;
    position: absolute;
    margin-top: .5rem;
    margin-left: -1rem;
  }

  .img-thumbnail {
    border: .25rem solid var(--j-s3);
    padding: 0;
  }

  .quote {
    &, .container {
      background: var(--j-p2);
      color: var(--j-s5);
    }

    span.text-center {
      display: block;
    }
  }

  #what-is-mobilizon {
    background: var(--j-p1);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    .container {
      margin-bottom: 0;
    }
  }

  #mobilizon-design {
    background: var(--j-s2);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    .container {
      margin-bottom: 0;
    }
  }

  #who .container {
    margin-top: 1.5rem;
  }

  .contribute {
    .list-group-item {
      p {
        font-size: 0.9em;
      }
    }
  }

   .btn-primary {
    color: #212529;
    background: var(--j-p2);
    border-color: var(--j-p2);

    &:hover,
    &:focus, &.focus {
      color: #212529;
      background: var(--j-p2-dark7);
      border-color: var(--j-p2-dark10);
    }

    &:focus, &.focus{
      box-shadow: 0 0 0 0.2rem rgba(205, 134, 68, 0.5);
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
      color: #212529;
      background: var(--j-p2-dark10);
      border-color: var(--j-p2-dark12);

      &:focus {
        box-shadow: 0 0 0 0.2rem rgba(205, 134, 68, 0.5);
      }
    }
  }
}

/* Extend sfs.scss */
#f-sfs {
  #support {
    @media (min-width: 992px) { /* cat is hidden by the form below 992px */
      background:
        transparent
        url('../../public/img/gattino-galileo.png')
        no-repeat
        10% calc(100% + 40px);
    }

    .col-lg-7 .ombre {
      margin-top: 3rem;
      margin-bottom: 1rem;
    }

    .container {
      margin-bottom: 0;
    }
  }

  #actions {
    h2 {
      background: none;
      color: #fff;
    }

    i::before {
      color: #fff;
    }
  }

  #lastyear {
    .col-md-4 {
      .fa-shape-circle::before {
        color: var(--f-o6);
      }

      &:first-of-type {
        .fa-shape-circle::before {
          color: var(--f-r6);
        }
      }

      &:last-of-type {
        .fa-shape-circle::before {
          color: var(--f-j6);
        }
      }
    }
  }

  @for $i from 1 through 9 {
    .fa-circle.fc-o#{$i}::before {
      color: var(--f-o#{$i});
    }
  }
}